/* COLORI */
/* BLU CHIARO #2285FD */
/* BLU SCURO #004AFF*/
/* BLU SCURISSIMO TESTI HEADER #020202 */
/* SFONDO GRIGIO CHIARO #F3F5F9 */
/* GRIGIO SCURO  #5B6987*/

/* REGOLE DI DEBUG_ */
.debug #reviews [class*="col-"] {
  border: 1px solid black;
}
.debug #design [class*="col-"] {
  border: 1px solid black;
}

/* REGOLE COMUNI */
* {
  font-size: 16px;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
/* questo è il div largo il 70% della pagina che contiene quelle sezioni più strette */
.wrapper_70 {
  padding-top: 30px;
  margin: auto;
  width: 70%;
}
.light_p {
  color: #5B6987;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}
header img {
  /* ho fissato la larghezza poichè l'immagine resta di uguale dimensione su tutti i dispositivi */
  width: 200px;
}
header a, button {
  color: #020202;
}
header a:hover {
  color: #2285FD;
  text-decoration: none;
}
header .button_header:hover {
  color: #2285FD;
}
.button_header {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
}
#button_signup {
  font-size: 16px;
  color: #2285FD;
  background-color: transparent;
  border: 1px solid #2285FD;
}
#button_signup:hover {
  color: white;
  background-color: #2285FD;
}
#hamburger_icon {
  color: #2285FD;
  font-size: 22px;
}
/* sezione bonus inventata da me */
#products:hover #products_menu {
  display: block;
}
#products_menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 450px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 10px;
  z-index: 3;
}
#community:hover #community_menu {
  display: block;
}
#community_menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 665px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 10px;
  z-index: 3;
}
#support:hover #support_menu {
  display: block;
}
#support_menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 989px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 10px;
  z-index: 3;
}
/* fine sezione bonus inventata */

/* SEZIONE BONUS */
#bonus_message {
  position: fixed;
  right: 95px;
  bottom: 25px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
}
#bonus_shark {
  position: fixed;
  right: 35px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  background-color: yellow;
}
#bonus_shark img {
  height: 60px;
  width: 60px;
}
/* FINE SEZIONE BONUS */

/* INIZIO MAIN ------------------------------*/
/* JUMBOTRON */
#jumbotron {
  margin-top: 80px;
  background-image: url("../img/pesci.svg");
  background-position: center;
  background-size: cover;
}
#jumbotron .row {
  padding: 40px 0;
}
#jumbotron h1 {
  color: white;
  font-size: 62px;
}
#jumbotron .col-md-7 p {
  font-size: 1.4em;
  color: white;
  opacity: 0.5;
}
#jumbotron_right {
  width: 97.5%;
  margin: 0 auto;
  padding: 25px 15px;
  background-color: white;
  border-radius: 5px;
}
#jumbotron_right h3 {
  margin-top: 0;
  line-height: 32px;
}
#h3_blue {
  /* questa è la dimensione degli h3 di default data da Bootstrap, l'ho riscritta perchè questo in realtà è uno span e prendeva i 16px */
  font-size: 24px;
  color: #2285FD;
}
.jumbotron_input_text {
  width: 100%;
  padding: 10px;
  margin-bottom: 12.5px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#button_blue {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: #004AFF;
  border: 1px solid #004AFF;
  opacity: 0.6;
  border-radius: 5px;
}
#button_blue:hover {
  opacity: 1;
}
#button_google {
  position: relative;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
}
#button_google:hover {
  color: #004AFF;
}
#button_google img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 17.5px;
}
#jumbotron_right p {
  font-size: 0.75em;
  margin-top: 15px;
}
#jumbotron_right a {
  /* ho scritto 1em perchè gli em sono una misura relativa ereditata dal padre */
  font-size: 1em;
  text-decoration: underline;
}

/* SPONSORS */
#sponsors {
  padding: 40px 0;
  text-align: center;
  background-color: #F3F5F9;
}
#sponsors h4:first-child {
  padding-bottom: 20px;
  color: #5B6987;
}
#stories a {
  line-height: 30px;
  color: #004AFF;
  opacity: 0.8;
}
#stories a:hover {
  text-decoration: none;
  opacity: 1;
}
#sponsors h4 > a > i {
  font-size: 0.8em;
  margin-left: 15px;
}
#sponsors .col-md-12 {
  height: 125px;
}
#sponsors .col-md-12 .col-xs-6, .col-md-2 {
  height: 100%;
}
#sponsors img {
  height: 100%;
  width: 100%;
}

/* FEATURES */
#features {
  padding: 30px 0;
}
#vertical_list li {
  margin-right: 50%;
  padding-left: 10px;
  color: #5B6987;
  border-left: 1px solid black;
}
#vertical_list h4 {
  font-weight: normal;
  margin: 0;
  line-height: 45px;
}
#vertical_list li:hover {
  color: #004AFF;
  border-left: 2px solid #004AFF;
  cursor: pointer;
}
#features img {
  height: 30px;
  margin-bottom: 5px;
}
/* questa istruzione fa "spazio" tra i riquadri */
.col-xs-12, .col-md-8 > .row:first-child {
  margin-bottom: 20px;
}
.wrapper_70 .col-md-6 p {
  padding: 0;
}

/* DESIGN */
#design {
  padding: 30px;
  background-color: #F3F5F9;
}
#design img {
  max-width: 80%;
}
#design div > i {
  margin: 0;
  /* solo con la percentuale riesco a non far andare a capo le frecce */
  padding: 2%;
  font-size: 40px;
}
#design > .container > .row > div {
  padding: 0;
}
#design > .container > .row > p {
  margin-bottom: 50px;
}
#design > .container > .row > div > p {
  margin-top: 50px;
}
#design div > i:hover {
  color: #004AFF;
  cursor: pointer;
}
#design ul > li > i {
  font-size: 10px;
  color: transparent;
  border: 2px solid #004AFF;
  border-radius: 50%;
}
#design ul > li > i:hover {
  color: #004AFF;
  cursor: pointer;
}

/* BUSINESS FEATURES */
#business_features {
  padding: 30px;
}
#business_features .col-xs-12 {
  margin-top: 20px;
}
#business_features h4 {
  line-height: 30px;
}
#business_features img {
  height: 50px;
}
#business_features i {
  font-size: 0.8em;
  margin-left: 15px;
}
#business_features a {
  color: #004AFF;
  font-weight: bold;
  opacity: 0.75;
}
#business_features a:hover {
  text-decoration: none;
  opacity: 1;
}

/* REGIONS */
#regions {
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,33,156,1) 100%);
  padding: 30px;
}
#regions h2 {
  color: white;
  margin-bottom: 30px;
}
.single_region {
  position: relative;
  line-height: 35px;
  border-bottom: 1px solid white;
}
.span_left {
  font-weight: bold;
  color: white;
}
.span_center {
  padding-left: 50px;
  color: white;
  opacity: 0.5;
}
.span_right {
  position: absolute;
  right: 0;
  text-align: right;
}
.span_right i {
  margin: 0 10px;
}
.single_region a {
  color: rgb(0, 215, 210);
}
.single_region a:hover {
  text-decoration: none;
  color: #004AFF;
}

/* REVIEWS */
#reviews {
  padding: 30px;
  background-color: #F3F5F9;
}
.slider > * {
  vertical-align: middle;
}
#reviews h2 {
  margin-bottom: 50px;
}
#reviews ul {
  margin-top: 50px;
}
#rockerbox {
  display: inline-block;
  max-width: 80%;
  border: 1px solid black;
}
#rockerbox img {
  padding-top: 50px;
  padding-bottom: 20px;
}
#rockerbox h6 {
  margin-top: 15px;
  margin-bottom: 0;
}
#rockerbox span {
  font-size: 0.85em;
}
#rockerbox a {
  display: block;
  margin: 30px 0;
  color: #004AFF;
  opacity: 0.8;
}
#rockerbox a:hover {
  text-decoration: none;
  opacity: 1;
}
#rockerbox a > i {
  font-size: 0.8em;
  margin-left: 15px;
}
#reviews div > i {
  margin: 0;
  /* solo con la percentuale riesco a non far andare a capo le frecce */
  padding: 2%;
  font-size: 40px;
  margin-top: 0;
}
#reviews div > i:hover {
  color: #004AFF;
  cursor: pointer;
}
#reviews ul > li > i {
  font-size: 10px;
  color: transparent;
  border: 2px solid #004AFF;
  border-radius: 50%;
}
#reviews ul > li > i:hover {
  color: #004AFF;
  cursor: pointer;
}
/* FINE MAIN ------------------------------*/

/* FOOTER TOP */
#footer_top {
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,33,156,1) 100%);
  padding: 40px;
}
#footer_top h2 {
  color: white;
}
#footer_top button {
  margin: 10px 0;
  padding: 10px;
  color: #2285FD;
  border: 1px solid white;
  border-radius: 5px;
}
#footer_top button:hover {
  opacity: 0.8;
}

/* FOOTER BOTTOM */
#footer_bottom {
  padding: 30px;
  color: white;
  background-color: #031C4E;
}
#footer_bottom img {
  margin-bottom: 20px;
}
#footer_bottom p {
  margin: 0;
}
#footer_bottom .col-lg-4 a i {
  margin-top: 8px;
  font-size: 30px;
}
#footer_bottom a {
  color: white;
  opacity: 0.5;
}
#footer_bottom h4 {
  margin-bottom: 0;
}
#footer_bottom li {
  padding-top: 12px;
}
#footer_bottom a:hover {
  text-decoration: none;
  opacity: 1;
}
