/* COLORI */
/* di default Anchor e Button hanno questo colore #020202 */
/* con hover Anchor e Button hanno questo colore #2285FD */

/* REGOLE DI DEBUG_ */
.debug [class*="container"] {
  background-color: lightgreen;
  height: 100%;
}
.debug [class*="row"] {
  background-color: lightblue;
  height: 80%;
}

/* REGOLE COMUNI */

/* HEADER */
header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: white;
}
header img {
  /* ho fissato la larghezza poichè l'immagine resta di uguale dimensione su tutti i dispositivi */
  width: 200px;
}
header a, button {
  color: #020202;
}
header a:hover {
  color: #2285FD;
  text-decoration: none;
}
header .button_header:hover {
  color: #2285FD;
}
.button_header {
  background-color: transparent;
  border: 1px solid white;
}
#button_signup {
  color: #2285FD;
  background-color: transparent;
  border: 1px solid #2285FD;
}
#button_signup:hover {
  color: white;
  background-color: #2285FD;
}
#hamburger_icon {
  color: #2285FD;
  font-size: 22px;
}

/* INIZIO MAIN ------------------------------*/
/* JUMBOTRON */

/* SPONSORS */

/* FEATURES */

/* DESIGN */

/* BUSINESS FEATURES */

/* REGIONS */

/* REVIEWS */
/* FINE MAIN ------------------------------*/

/* FOOTER TOP */

/* FOOTER BOTTOM */
